$primary: #3673ff;
$secondary: #f5b056;
$background: #f5f7fa;
$text-color: #222222;
$text-color-inverted: #ffffff;
$border-color: #e1e4e8;
$success: #28a745;
$warning: #ffc107;
$danger: #dc3545;

$border-radius: 6px;
